<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="BlueOutfit" class="com.example.Wizard.models.BlueOutfit">
    </bean>
    <bean id="WhiteOutfit" class="com.example.Wizard.models.WhiteOutfit">
    </bean>
    
    
    
    <bean id="Gandalf" class="com.example.Wizard.models.Gandalf">
    	<constructor-arg ref="WhiteOutfit"/>
    </bean>
    
    <bean id="Dumbledore" class="com.example.Wizard.models.Dumbledore">
    	<constructor-arg ref="BlueOutfit"/>
    </bean>

</beans>